<!-- ANTERIOR LOADING -->
<ngx-loading [show]="this.loaderService.GetLoaderState()"
  [config]="{backdropBorderRadius: '8px', fullScreenBackdrop:true}">
</ngx-loading>


<!-- NOVO LOADING -->
<!--
<ngx-loading [show]="this.loaderService.GetLoaderState()"
  [config]="{backdropBorderRadius: '8px', fullScreenBackdrop:true, animationType:'none'}" [template]="mLoading">
</ngx-loading>
<ng-template #mLoading>
  <img src="assets/imagens/ActivityIndicator.gif" alt="loader" width="25px" height="25px">
  <img src="assets/imagens/animacao-ondalenta-loading-mid.gif">
</ng-template>
-->
