<h4 class="text-muted mb-4">{{ this.title }}</h4>
<div class="card border-0 rounded-0">
    <div class="col-md-12 col-lg-12 mb-12 align-items-stretch">
        <br>
        <div class="card border-0 rounded-0 h-100">
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="text" maxlength="100" [(ngModel)]="this.email" class="form-control rounded-0" id="InputDescryption" aria-describedby="emailHelp" maxlength="150" placeholder="Informe o email">
                <div *ngIf="this.email.length < 6" class="text-danger">
                    Please enter a valid email address.
                </div>
            </div>
            
            <div class="button-container">
                <button (click)="onSubmit()" class="btn btn-block btn-lightning rounded-0">Resetar a senha</button>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>
