<div class="col-md-12 col-lg-12 mb-4 align-items-stretch">
    <app-comp-title [title]="this.title"></app-comp-title>
    <div class="card border-0 rounded-0 h-100">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tipo de dado</label>
                    <input maxlength="150" type="text" class="form-control rounded-0" placeholder="Informe o tipo de dado" [(ngModel)]="this.model.descricao" [ngModelOptions]="{ standalone: true }" />
                    <small id="tipoDadoHelp" class="form-text text-muted">Informe um tipo de dado para o cadastro.</small>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-3">
                    <input type="checkbox" class="custom-control-input" id="customControlInline" [(ngModel)]="this.model.ativo" [ngModelOptions]="{ standalone: true }" />
                    <label class="custom-control-label" for="customControlInline">Ativo</label>
                </div>
                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="incluir()">
            {{this.titleButton}}
          </button>
                <button type="button" class="btn btn-outline-lightning rounded-0 mb-2" (click)="navigateToBack()">
            Cancelar
          </button>
            </form>
        </div>
    </div>
</div>