<div class="col-md-12 col-lg-12 mb-4 align-items-stretch">
  <app-comp-title [title]="this.title"></app-comp-title>
    <div class="card border-0 rounded-0 h-100">
      <div class="card-title mb-1 p-3">
        <h5>{{this.label}}</h5>
      </div>
      <div class="card-body">
        <form>
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="deletar()">
            deletar
          </button>
          <button type="button" class="btn btn-outline-lightning rounded-0 mb-2" [routerLink]="['../../']">
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
