<!-- TITLE -->
<div class="card border-0 rounded-0">{{ this.title }}</div>

<!-- PRODUCT DETAILS -->
<div class="product-details">
    <h2>{{ product.titulo }}</h2>
    <img [src]="product.mainImage" alt="{{ product.titulo }}" width="80%" height="80%" />
    <p>Detalhes: {{ product.detalhes }}</p>
    <p>Preço: {{ currencyFormatterBRL(product.precoVenda)}}</p>
    <p>Marca: {{ product.marca }}</p>
    <p>Código de Barras: {{ product.codigoBarras }}</p>
    <p>Quantidade: {{ product.quantidade }}</p>
    <p>Tipo de Produto: {{ product.productTypeEnum }}</p>
    <p>Pontuação: {{ product.rating }}</p>
    <div class="form-group">
        <button [routerLink]="['/store/purchase/details/',product.identifier]" class="btn btn-block btn-lightning rounded-0"><i class="fa fa-shopping-cart"></i>
          Comprar</button>
      </div>
</div>