<!-- TITLE -->
<h4 class="text-muted mb-4">{{ this.title }}</h4>
<!-- PRODUCT DETAILS -->
<div class="product-details">
    <br>
    <h2>{{ product.titulo }}</h2>
    <br>
    <img [src]="product.mainImage" alt="{{ product.titulo }}" (error)="handleMissingImage(product)" width="80%" height="80%" />
    <br>
    <br>
    <p *ngIf="isValueValid(product.detalhes)">Detalhes: {{ product.detalhes }}</p>
    <p *ngIf="isValueValid(product.precoVenda)">Preço: {{ currencyFormatterBRL(product.precoVenda)}}</p>
    <p *ngIf="isValueValid(product.marca)">Marca: {{ product.marca }}</p>
    <p *ngIf="isValueValid(product.codigoBarras)">Código de Barras: {{ product.codigoBarras }}</p>
    <p *ngIf="isValueValid(product.quantidade)">Quantidade: {{ product.quantidade }}</p>
    <p *ngIf="isValueValid(product.productTypeEnum)">Tipo de Produto: {{ product.productTypeEnum }}</p>
    <p *ngIf="isValueValid(product.rating)">Pontuação: {{ product.rating }}</p>
    <br>
    <div class="form-group" *ngIf="isBlockedToAddShopCart === false">
        <button (click)="addProductToShoppingcartProduct(product)"
            class="btn btn-outline-info m-1 flex-fill rounded-0"><i class="fas fa-cart-plus"></i>
            Adicionar ao carrinho</button>
    </div>
    <div class="form-group">
        <button (click)="buyProduct()"
            [routerLink]="['/store/purchase/details/',product.identifier]"
            class="btn btn-outline-success m-1 flex-fill rounded-0"><i class="fas fa-dollar-sign"></i>
            Comprar</button>
    </div>
</div>
<br>

<div class="product-details">
    <h2>{{ this.shoppingCartTitle }}</h2>
    <div *ngFor="let product of productList">
        <div class="product-card">
            <br>
            <h2>{{ product.titulo }}</h2>
            <br>
            <img [src]="product.mainImage" alt="{{ product.titulo }}" (error)="handleMissingImage(product)" width="80%"
                height="80%" />
            <br>
            <br>
            <p *ngIf="isValueValid(product.detalhes)">Detalhes: {{ product.detalhes }}</p>
            <p *ngIf="isValueValid(product.precoVenda)">Preço: {{ currencyFormatterBRL(product.precoVenda)}}</p>
            <p *ngIf="isValueValid(product.marca)">Marca: {{ product.marca }}</p>
            <p *ngIf="isValueValid(product.codigoBarras)">Código de Barras: {{ product.codigoBarras }}</p>
            <p *ngIf="isValueValid(product.quantidade)">Quantidade: {{ product.quantidade }}</p>
            <p *ngIf="isValueValid(product.productTypeEnum)">Tipo de Produto: {{ product.productTypeEnum }}</p>
            <p *ngIf="isValueValid(product.rating)">Pontuação: {{ product.rating }}</p>
            <br>
            <div class="form-group">
                <button (click)="removeProductFromShoppingCart(product)"
                    class="btn btn-outline-danger m-1 flex-fill rounded-0"><i class="far fa-trash-alt"></i>
                    Remover do carrinho</button>
            </div>
        </div>
        <hr>
    </div>
</div>