<!-- TITLE -->
<h4 class="text-muted mb-4">{{ this.title }}</h4>
<div class="card border-0 rounded-0">
    <div class="col-md-12 col-lg-12 mb-12 align-items-stretch">
        <br>
        <div class="card border-0 rounded-0 h-100">            
            <div class="form-group">
                <label for="InputPassword">Digite a senha</label>
                <input type="password" maxlength="30" [(ngModel)]="this.password" class="form-control rounded-0" id="InputDescryption" aria-describedby="passwordHelp" maxlength="30" placeholder="Informe a senha">
                <div *ngIf="this.password === ''" class="text-danger">
                    Informe a sua nova senha.
                </div>
            </div>

            <div class="form-group">
                <label for="InputRepeatPassword">Confirme a senha</label>
                <input type="password" maxlength="30" [(ngModel)]="this.repeatPassword" class="form-control rounded-0" id="InputRepeatPassword" aria-describedby="repeatPasswordHelp" maxlength="30" placeholder="Informe a senha novamente">
                <div *ngIf="this.repeatPassword === ''" class="text-danger">
                    Repita a sua nova senha
                </div>
            </div>
            <br>
            <div class="button-container">
                <button (click)="onSubmit()" class="btn btn-block btn-lightning rounded-0">Resetar senha</button>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>
