<!-- TITLE -->
<h4 class="text-muted mb-4">{{ this.title }}</h4>
<div class="card border-0 rounded-0">
    <div class="col-md-12 col-lg-12 mb-12 align-items-stretch">
        <!-- PRODUCT DETAILS -->
        <div class="product-details">
            <!-- TODO: DEPOOIS SERA UM CARRINHO DE COMPRAS -->
            <!-- INFORMACOES SOBRE O PRODUTO -->
            <br>
            <br>
            <!--             
            <h3>Informacoes sobre o Produto:</h3>
            <img [src]="product.mainImage" alt="{{ product.titulo }}" width="80%" height="80%" />
            <p>Detalhes: {{ product.detalhes }}</p>
            <p>Preço: {{ currencyFormatterBRL(product.precoVenda)}}</p>
            <p>Marca: {{ product.marca }}</p>
            <p>Código de Barras: {{ product.codigoBarras }}</p>
            <p>Quantidade: {{ product.quantidade }}</p>
            <p>Tipo de Produto: {{ product.productTypeEnum }}</p>
            <p>Pontuação: {{ product.rating }}</p>
            <br>
            <br>
            <hr>
            -->
            <!-- INFORMACOES SOBRE O VALOR -->
            <h3>Confirmação produtos:</h3>
            <div *ngFor="let product of productList">
                <div class="product-card">
                    <br>
                    <h2>{{ product.titulo }}</h2>
                    <br>
                    <img [src]="product.mainImage" alt="{{ product.titulo }}" (error)="handleMissingImage(product)"
                        width="80%" height="80%" />
                    <br>
                    <br>
                    <p *ngIf="isValueValid(product.detalhes)">Detalhes: {{ product.detalhes }}</p>
                    <p *ngIf="isValueValid(product.precoVenda)">Preço: {{ currencyFormatterBRL(product.precoVenda)}}</p>
                    <p *ngIf="isValueValid(product.quantidade)">Quantidade: {{ product.productQuantity }}</p>
                    <p *ngIf="isValueValid(product.rating)">Pontuação: {{ product.rating }}</p>
                </div>
                <hr>
            </div>
            <div *ngIf="this.inHandDelivery === false">
                <h3>Frete:</h3>
                <!-- PRAZO DE ENTREGA -->
                <p>Prazo de entrega: {{ this.totalDeliveryCalculateDayValue }} dias
                    <br>Valor: {{ currencyFormatterBRL(this.totalDeliveryCalculateValue) }}
                </p>
                <hr>
                <h3>Confirmação do endereço:</h3>
                <!-- INFORMACOES SOBRE O ENDERECO -->
                <p>Tipo: {{ this.tipoEndereco }}
                    <br>Endereço de entrega: {{ this.endereco }}
                    <br>Ponto de Referência: {{ this.pontoReferencia }}
                    <br>
                    <button [routerLink]="['/cadastros/address/user/',user.identifier]"
                        class="btn btn-outline-info m-1 flex-fill rounded-0"><i class="far fa-edit"></i>
                        Alterar
                    </button>
                </p>
            </div>
            <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlInline"
                (click)="calculateFreteInHandDeliveryValue()"
                    [(ngModel)]="this.inHandDelivery" [ngModelOptions]="{ standalone: true }" />
                <label class="custom-control-label" for="customControlInline">Entrega em mãos.</label>
            </div>
            <hr>
            <h3>Confirmação forma de pagamento:</h3>
            <!-- VALOR TOTAL DA COMPRA, CALCULO FINAL -->
            <p>Valor total da compra: {{ currencyFormatterBRL(this.totalShoppingCartValue) }}
                <!-- FORMA DE PAGAMENTO -->
                <br>Forma de pagamento: {{ formaPagamento }}
            </p>

            <div class="form-group">
                <button (click)="goToPaymentMethod()" class="btn btn-outline-success m-1 flex-fill rounded-0"><i
                        class="fas fa-dollar-sign"></i>
                    Comprar</button>
            </div>
        </div>
    </div>
</div>